.a{
    color: #fcfcfc;
    margin-left: 650px;
    margin-top: -350px;
}
.b{
    width: 650px;
    height:650px;
}
.c{
color: #f8efef;
margin-left: 650px;
}
.d{
    color: hsl(0, 100%, 100%);
    margin-left: 900px;
    margin-top: -185px;
}
.e{
    color: #ffffff;
    margin-left: 1200px;
    margin-top: -185px;
}
